{{#each articles}}
<article>
    <a href="{{link}}"><h2>{{{title}}}</h2></a>
    <h3>{{Subtitle}}</h3>
    <div class='newscontent'>
        {{{post}}}
    </div>
    <div class="newsfooter">
        by {{author}} - on {{date}}
    </div>
</article>
{{/each}}