{{#each Articles}}
<article>
    <h2>{{Title}}</h2>
    <h3>{{Subtitle}}</h3>
    <div class='newscontent'>
        {{{Content}}}
    </div>
    <div>
        by {{Author}} - on {{Date}}
    </div>
</article>
{{/each}}