<main>
    <section class="section_header">
        <div class="section_bg">
            Forums > {{title}}
        </div>
    </section>
    <div class="index_categories">
        {{#each result}}
        <div class="category">
            <div class="category_icon">
                <img src="/img/comment-bubble-icon.png" />
            </div>
            <div class="category_title" onclick="viewPost('{{_id}}')">
                {{title}}

                <div class="category_description">
                    {{description}}
                </div>
            </div>
            <div class="category_last_post">
                <span>
                    by {{author}} {{formatDate modified "DD.MM.YYYY HH:mm"}}
                </span>
            </div>
            <div class="category_last_post">
                <span>
                    by {{author}} {{formatDate modified "DD.MM.YYYY HH:mm"}}
                </span>
            </div>
        </div>
        {{/each}}
    </div>
</main>