<table>
    <tr style="font-weight:bold">
        <td>Rank</td>
        <td>Username</td>
        <td>Cumulative Tournament Points</td>
    </tr>
    {{#each this}}

    <tr class="clickable-row" data-href="https://forum.ygopro.us/index.php?/profile/{{member_id}}-{{name}}/">
        <td>{{counter @index}}</td>
        <td>{{#if url}}<img src="//forum.ygopro.us/uploads/{{url}}" />{{else}} <img src="/img/newgiohtoken.png" />{{/if}}{{name}}</td>
        <td>{{points}}</td>
    </tr>
    {{/each}}
    </table